<%-layout("./layouts/boilerplate.ejs") %>

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>
               <p>DEBUG: <%= message || 'No message passed' %></p>
            </p>
            <hr>
            <a href="/listings" class="btn btn-outline-dark mt-3">Back to Listings</a>
        </div>
    </div>
</div>